/*

  amc player SKIN :: LIGHT BROWN

*/

.mcpbox{
    background: linear-gradient(to bottom, #dca,#a86);
}
#mcplayer a, #mcpabout a, #mcpdownloads a, #mcpplaylist a{color: #486;}
#mcplayer a,#mcptime{color: #a86;}
    
#mcplayer .active a,
#mcplayer a.active,
#mcpplaylist li.active a{
    background: linear-gradient(to bottom, #8ca, #6a8);
    color:#fff;
}

#mcpabout .title, 
#mcpplayersonginfo .title{
    color:#6a8;
    color:#a62;
}

#mcpvolumecanvas,
#mcpprogresscanvas{
    background: linear-gradient(to bottom, #dca, #edb, #dca);
}

#mcpmaximize{background: #a86; color:#fff;}
.mcpsystembutton{
    background: #a86;
}
.mcpsystembutton>a{color:#fff !important;}
.songbtnactive{
}
