/*

    amc player SKIN :: BOTTOMBAR
    @author: Axel Hahn

*/

#mcpwrapper{
    left:0;
    bottom:0;
    height: 3.5em;
    width: 100%;
    padding:0;
}
#mcpwrapper>.mcpbox{
    display: none; visibility: hidden;
}
#mcplayer{
    margin:0.5em;
}
#mcpplayersonginfo{display: none;}
#mcpprogressdiv{clear: none; float: left; margin-left: 1em; margin-top: 4px; position: relative; left: 0; height: 1.9em;  width: 400px;}

#mcpvolumesection{clear: none;margin-left: 1em; }
#mcpvolumediv {
	margin-top: 7px;
}
#mcpvolumecanvas{height: 1.5em;}
#mcpchannels{clear: none; float: left; margin: 0 2em 0 2em; }
#mcptime{float: left; display: block; position: relative; right: 0; top: 0.5em; margin-left: 1em;}
#mcpoptions{margin-right: 1em;}
#mcpstatusbar{clear: none; border: none; float: right; width: 18em;}
#mcpstatusbar div{width: auto; float: none;}

#mcplayer a{padding:0.3em;}
