/*

    amc player SKIN :: FLAT WHITE N BLACK
    @author: Axel Hahn

*/

#mcpwrapper,
#mcpabout, #mcpdownloads, #mcpplaylist,
.mcpbox{
    background: #fff; 
}

/* ============================================================

    player

============================================================ */

#mcplayer a, #mcpabout a, #mcpdownloads a, #mcpplaylist a{}
#mcplayer a,#mcptime{
    background:none; 
    border: none; 
    border-radius: 0;
    color: #333; 
}

#mcptitle {color:#888;}
#mcplayer a:hover{
    background: #eee;
}
#mcplayer a.active#mcpplay{background: #3a3;}
#mcplayer .active a,
#mcplayer a.active,
#mcpplaylist li.active a,
.mcpslider-active{
    background: #aaa;
    color:#fff;
}
#mcpplayersonginfo > div {
    background: none;
}
#mcpplayersonginfo img{
    box-shadow: none; border: none;
}
#mcpplayersonginfo .url a{color: #08c;}
#mcpabout .title, 
#mcpplayersonginfo .title{
    color:#555;
}

/* ---------------------------------------------------------
    bars for volume and progress
--------------------------------------------------------- */

.mcpslider-default{
    background: #eee;
}
.mcpslider-active{
    background: #ddd;
}

/* ---------------------------------------------------------
    system buttons on top right + maximize on the bottom
--------------------------------------------------------- */

#mcpmaximize{
    background:#888;color:#fff;
}

.mcpsystembutton{
    background:none;
    margin-top: 0;
}
.mcpsystembutton>a{color:#888 !important;}

/* ============================================================

    boxes

============================================================ */

#mcpdownloads ul, #mcpplaylist ul {
    border: none;
}

/* ---------------------------------------------------------
    title bars
--------------------------------------------------------- */

.mcpbox {
    color:#333; 
    font-weight: bold;
    text-shadow: none; 
}
