/*

  amc player SKIN :: LIGHT GREEN

*/


.mcpbox{
    background: linear-gradient(to bottom, #8ca, #6a8);
}
#mcplayer a, #mcpabout a, #mcpdownloads a, #mcpplaylist a{color: #486;}
#mcplayer a,#mcptime{color: #486;}
    
#mcplayer .active a,
#mcplayer a.active,
#mcpplaylist li.active a{
    background: linear-gradient(to bottom, #8ca, #6a8);
    background: linear-gradient(to bottom, #ec8, #a86);
    color:#fff;
}

#mcpabout .title, 
#mcpplayersonginfo .title{
    color:#a86;
}

#mcpvolumecanvas,
#mcpprogresscanvas{
    background: linear-gradient(to bottom, #8ca, #adc, #8ca);
}

#mcpmaximize{background: linear-gradient(to bottom, #a86, #dca, #a86); color:#fff;}
.mcpsystembutton{
    background: #375;
}
.mcpsystembutton>a{color:#fff !important;}
.songbtnactive{
}
